@import './variables.less';

// -- Titulos y textos --
.title-divisor {
    color: #999!important;
    font-weight: bold;
}
.text-noData {
    color: #a2a2a2;
}

hr.line-divisor {
    border: 1px solid #179096;
	margin-bottom: 10px !important;
	margin-top: 8px !important;
}

// -- HEADER --
.navbar-suite {
    background-color: @main-color!important;
    margin-bottom: 10px;
    color: white!important;
    height: 10vh;
    a {
        color: white!important;
    }
    .dropdown a.dropdown-item {
        color: #a2a2a2!important;
        &:hover {
            text-decoration: none;
        }
        &:active {
            background-color: @teal-color;
            color: white!important;
        }
    }
}
.navbar-suite+div {
    margin-top: 15vh;
    margin-bottom: 5vh;
}

// -- NotFound --
.content-notFound {
    padding: 5% 0 0 0;
    .txt-notFound {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3 {
            font-size: 5.5rem;
            color: @teal-color;
            text-align: center;
            font-weight: bold;
        }
        p {
            font-size: 2rem;
        }
    }
}

